footer
  .row
    .col-md-1
    .col-md-10
      .copyright
        .copyright__img
          img(src="../../../images/logo-transparent.png", width="33", height="41", alt="nodejs")
        .copyright__text
          | NodeJS &copy; 2016
    .col-md-1
