head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title #{title}
  meta(name="description", content="Nodejs")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  //- Facebook metas
  meta(property="og:site_name", content="Nodejs")
  meta(property="og:url", content="")
  meta(property="og:title", content="#{title}")
  meta(property="og:description", content="")
  meta(property="og:image", content="")
  meta(property="og:type", content="website")
  //- Favicon
  // link(rel="icon", type="image/png", href="Layout/Icons/Favicon/favicon.png")
  link(href="/styles/main.css" rel="stylesheet")
